<% include partial/header %>
<div>
    <form action="/todos" method="POST">
        <label for="text">Add a todo item: </label>
        <input name="text" type="text" required minlength="6" />
        <br/>
        <input name="submit" type="submit" />
    </form>
</div>
<% include partial/footer %>